<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="assets/img/googling.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                <h3>У пошуках важкої техніки у Харкові?</h3>
                <p class="fst-italic">
                    Ми пропонуємо популярну техніку іноземних виробників, яка відрізняється високою надійністю та справною роботою протягом тривалого часу.
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Точність у роботі. Ви легко впораєтеся з будь-якими завданнями. При необхідності допомогу Вам нададуть досвідчені водії нашої компанії.</li>
                    <li><i class="ri-check-double-line"></i> Безпека використання. Машина з маніпулятором, оренда якої може бути здійснена зараз, повністю готова до експлуатації. Ми регулярно проводимо технічне обслуговування всього автопарку, оберігаючи Вас від травм.</li>
                    <li><i class="ri-check-double-line"></i> Простота роботи. Пропоновані маніпулятори не потребують складної установки. Зверніться до нас, якщо хочете, щоб усі завдання вирішувалися оперативно та якісно.</li>
                </ul>
                <p>
                    Оренда техніки з маніпулятором від нашої компанії – це вигідно та зручно. Оренда даної техніки допоможе Вам заощадити гроші та час.
                </p>
            </div>
        </div>
    </div>
</section>