@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer

<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
        <div class="text-center">
            <h3> @Localizer["Need advice?"]</h3>
            <p> @Localizer["Ask a question to a professional and get an answer as soon as possible"]</p>
            <a class="cta-btn" href="#contact">@Localizer["Ask a question"]</a>
        </div>
    </div>
</section>