@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer

<section id="portfolio" class="services">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>@Localizer["Portfolio"]</h2>
            <p>@Localizer["Our portfolio"]</p>
        </div>
        <div class="row">
        </div>
    </div>
</section>