@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer

<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
           <h2>@Localizer["Portfolio"]</h2>
           <p>@Localizer["Our portfolio"]</p>
        </div>

        <div class="portfolio-slider swiper">
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><a href="assets/img/portfolio/1.jpg" class="glightbox"><img src="assets/img/portfolio/1.jpg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="assets/img/portfolio/2.jpg" class="glightbox"><img src="assets/img/portfolio/2.jpg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="assets/img/portfolio/3.jpg" class="glightbox"><img src="assets/img/portfolio/3.jpg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="assets/img/portfolio/4.jpg" class="glightbox"><img src="assets/img/portfolio/4.jpg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="assets/img/portfolio/5.jpg" class="glightbox"><img src="assets/img/portfolio/5.jpg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="assets/img/portfolio/6.jpg" class="glightbox"><img src="assets/img/portfolio/6.jpg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="assets/img/portfolio/7.jpg" class="glightbox"><img src="assets/img/portfolio/7.jpg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="assets/img/portfolio/8.jpg" class="glightbox"><img src="assets/img/portfolio/8.jpg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="assets/img/portfolio/9.jpg" class="glightbox"><img src="assets/img/portfolio/9.jpg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="assets/img/portfolio/10.jpg" class="glightbox"><img src="assets/img/portfolio/10.jpg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="assets/img/portfolio/11.jpg" class="glightbox"><img src="assets/img/portfolio/11.jpg" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="assets/img/portfolio/12.jpg" class="glightbox"><img src="assets/img/portfolio/12.jpg" class="img-fluid" alt=""></a></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>