<section id="portfolio" class="services">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Послуги</h2>
            <p>Наші послуги</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 align-items-stretch p-2" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class=""><img class="img-thumbnail" src="/assets/img/services/1.jpg" alt="Перевезення контейнерів"></div>
                    <h4><a href="">Перевезення контейнерів</a></h4>
                    <p>Компанія "KHTRANS" пропонує вам перевезення контейнерів 20 і 40 футів, як порожніх так і наповнених.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-items-stretch p-2" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class=""><img class="img-thumbnail" src="/assets/img/services/2.jpg" alt="Перевезення піддонів"></div>
                    <h4><a href="">Перевезення піддонів</a></h4>
                    <p>Ми надаємо послуги з транспортування піддонів у межах Харкова та області.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-items-stretch p-2" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class=""><img class="img-thumbnail" src="/assets/img/services/3.jpg" alt="Перевезення ЗБВ"></div>
                    <h4><a href="">Перевезення ЗБВ</a></h4>
                    <p>Ми надаємо послуги з транспортування ЗБВ у межах Харкова та області.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-items-stretch p-2" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class=""><img class="img-thumbnail" src="/assets/img/services/4.jpg" alt="Перевозка побутовок"></div>
                    <h4><a href="">Перевозка побутовок</a></h4>
                    <p>Перевезти побутівку це не просте завдання, але ми впораємося на всі 100.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-items-stretch p-2" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class=""><img class="img-thumbnail" src="/assets/img/services/5.jpg" alt="Перевезення цегли"></div>
                    <h4><a href="">Перевезення цегли</a></h4>
                    <p>Ми здійснюємо перевезення будь-яких будівельних матеріалів, у тому числі цегли.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-items-stretch p-2" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class=""><img class="img-thumbnail" src="/assets/img/services/6.jpg" alt="Перевезення колод та бруса"></div>
                    <h4><a href="">Перевезення колод та бруса</a></h4>
                    <p>Перевезти пиломатеріали для нас так само не складе великих труднощів.</p>
                </div>
            </div>
        </div>
    </div>
</section>