@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <img src="assets/img/googling.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                    <h3>У пошуках важкої техніки у Харкові?</h3>
                    <p class="fst-italic">
                        Ми пропонуємо популярну техніку іноземних виробників, яка відрізняється високою надійністю та справною роботою протягом тривалого часу.
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Точність у роботі. Ви легко впораєтеся з будь-якими завданнями. При необхідності допомогу Вам нададуть досвідчені водії нашої компанії.</li>
                        <li><i class="ri-check-double-line"></i> Безпека використання. Машина з маніпулятором, оренда якої може бути здійснена зараз, повністю готова до експлуатації. Ми регулярно проводимо технічне обслуговування всього автопарку, оберігаючи Вас від травм.</li>
                        <li><i class="ri-check-double-line"></i> Простота роботи. Пропоновані маніпулятори не потребують складної установки. Зверніться до нас, якщо хочете, щоб усі завдання вирішувалися оперативно та якісно.</li>
                    </ul>
                    <p>
                        Оренда техніки з маніпулятором від нашої компанії – це вигідно та зручно. Оренда даної техніки допоможе Вам заощадити гроші та час.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Clients Section ======= -->
   @* <section id="clients" class="clients">
        <div class="container" data-aos="zoom-in">

            <div class="clients-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><img src="assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>*@

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Техніка</h2>
                <p>Наша Техніка</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 align-items-stretch p-2" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class=""><img class="img-thumbnail" src="/assets/img/tech/38010c98510706ae2a04e93f96ec2d06.jpg" alt="3-5 тонн"></div>
                        <h4><a href="">Маніпулятор 3-5 тонн</a></h4>
                        <p>Вантажопідйомність борту - 5 тонн</p>
                        <p>Довжина кузова - 6 метрів</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 align-items-stretch p-2" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class=""><img class="img-thumbnail" src="/assets/img/tech/ea5d142394a2dade91463c837f585952.jpg" alt="5-10 тонн"></div>
                        <h4><a href="">Маніпулятор 5-10 тонн</a></h4>
                        <p>Вантажопідйомність борту - 5 тонн</p>
                        <p>Довжина кузова - 6 метрів</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 align-items-stretch p-2" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class=""><img class="img-thumbnail" src="/assets/img/tech/0d554ddc3bd9de4235558798257bbf3c.jpg" alt="7-10 тонн"></div>
                        <h4><a href="">Маніпулятор 7-10 тонн</a></h4>
                        <p>Вантажопідйомність борту - 5 тонн</p>
                        <p>Довжина кузова - 6 метрів</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 align-items-stretch p-2" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class=""><img class="img-thumbnail" src="/assets/img/tech/e7ef05ad78893842e21b44ce4c7da244.jpg" alt="10-12 тонн"></div>
                        <h4><a href="">Маніпулятор 10-12 тонн</a></h4>
                        <p>Вантажопідйомність борту - 5 тонн</p>
                        <p>Довжина кузова - 6 метрів</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 align-items-stretch p-2" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class=""><img class="img-thumbnail" src="/assets/img/tech/70a0c3fbe33a9356bc6b21f2c8b8e394.jpg" alt="Міні Трактор"></div>
                        <h4><a href="">Міні Трактор</a></h4>
                        <p>Вантажопідйомність борту - 5 тонн</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">
            <div class="text-center">
                <h3>Потрібна порада?</h3>
                <p> Задай питання професіонал та отримай відповідь у найкоротші терміни.</p>
                <a class="cta-btn" href="#">Задати питання</a>
            </div>
        </div>
    </section>

    @*<!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Послуги</h2>
                <p>Наші послуги</p>
            </div>
            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">Всі</li>
                        <li data-filter=".filter-app">Перевезення пінобетону</li>
                        <li data-filter=".filter-card">Перевезення ЗБВ</li>
                        <li data-filter=".filter-web">Перевезення цегли</li>
                    </ul>
                </div>
            </div>
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/p-1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 1</h4>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/p-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web 3</h4>
                            <p>Web</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/p-2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 2</h4>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/p-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Card 2</h4>
                            <p>Card</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web 2</h4>
                            <p>Web</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/p-3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 3</h4>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/p-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Card 1</h4>
                            <p>Card</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Card 3</h4>
                            <p>Card</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web 3</h4>
                            <p>Web</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="services">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Послуги</h2>
                <p>Наші послуги</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 align-items-stretch p-2" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class=""><img class="img-thumbnail" src="/assets/img/services/1.jpg" alt="Перевезення контейнерів"></div>
                        <h4><a href="">Перевезення контейнерів</a></h4>
                        <p>Компанія "KHTRANS" пропонує вам перевезення контейнерів 20 і 40 футів, як порожніх так і наповнених.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 align-items-stretch p-2" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class=""><img class="img-thumbnail" src="/assets/img/services/2.jpg" alt="Перевезення піддонів"></div>
                        <h4><a href="">Перевезення піддонів</a></h4>
                        <p>Ми надаємо послуги з транспортування піддонів у межах Харкова та області.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 align-items-stretch p-2" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class=""><img class="img-thumbnail" src="/assets/img/services/3.jpg" alt="Перевезення ЗБВ"></div>
                        <h4><a href="">Перевезення ЗБВ</a></h4>
                        <p>Ми надаємо послуги з транспортування ЗБВ у межах Харкова та області.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 align-items-stretch p-2" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class=""><img class="img-thumbnail" src="/assets/img/services/4.jpg" alt="Перевозка побутовок"></div>
                        <h4><a href="">Перевозка побутовок</a></h4>
                        <p>Перевезти побутівку це не просте завдання, але ми впораємося на всі 100.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 align-items-stretch p-2" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class=""><img class="img-thumbnail" src="/assets/img/services/5.jpg" alt="Перевезення цегли"></div>
                        <h4><a href="">Перевезення цегли</a></h4>
                        <p>Ми здійснюємо перевезення будь-яких будівельних матеріалів, у тому числі цегли.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 align-items-stretch p-2" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class=""><img class="img-thumbnail" src="/assets/img/services/6.jpg" alt="Перевезення колод та бруса"></div>
                        <h4><a href="">Перевезення колод та бруса</a></h4>
                        <p>Перевезти пиломатеріали для нас так само не складе великих труднощів.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
                <div class="col-xl-7 ps-lg-5 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
                    <div class="content d-flex flex-column justify-content-center">
                        <h3>Багаторічний досвід та неймовірні кліенти</h3>
                        <p>
                            Ми вдячні кожному клієнту за співпрацю з нами та висловлюємо це у працьовитості та повній віддачі
                        </p>
                        <div class="row">
                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-emoji-smile"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="300" data-purecounter-duration="2" class="purecounter"></span>
                                    <p><strong>Клієнтів задоволені</strong> співпраці з нами.</p>
                                </div>
                            </div>

                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-journal-richtext"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="500" data-purecounter-duration="2" class="purecounter"></span>
                                    <p><strong>Проектів </strong> завершених заздалегідь або у строк.</p>
                                </div>
                            </div>
                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-clock"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="16" data-purecounter-duration="4" class="purecounter"></span>
                                    <p><strong>Років</strong> ми стараємось для вас.</p>
                                </div>
                            </div>
@*                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-award"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="4" class="purecounter"></span>
                                    <p><strong>Awards</strong> rerum asperiores dolor alias quo reprehenderit eum et nemo pad der</p>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Контакти</h2>
                <p>Зв'язатися з нами</p>
            </div>
            <div class="row mt-5">
                <div class="col-lg-4">
                    <div class="info">
                        <div class="location">
                            <i class="bi bi-envelope"></i>
                            <h4>Пошта:</h4>
                            <p>kh.trans@gmail.com</p>
                        </div>
                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Телефон:</h4>
                            <p >+380 50 973 56 05</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mt-5 mt-lg-0">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Ім'я" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Електронна пошта" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Повідомлення" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Загрузка</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Ваше повідомлення було відправлене. Дякую!</div>
                        </div>
                        <div class="text-center"><button type="submit">Відправити</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>