@page "{handler?}"
@model IndexPageModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer

<main id="main">
    <partial name="_AboutSection" />
    @*<partial name="_Clients" />*@
    <partial name="_EquipmentsSection" />
    <partial name="_NeedAdvice" />
    <partial name="_ServicesSection" />
    <partial name="_Portfolio" />
    <partial name="_CountersSection" />
    <partial name="_ContactSection" />
</main>