@page ""
@model IndexModel

<main id="main">
    <partial name="_AboutSection" />
    <partial name="_EquipmentsSection" />

    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">
            <div class="text-center">
                <h3>Потрібна порада?</h3>
                <p> Задай питання професіонал та отримай відповідь у найкоротші терміни.</p>
                <a class="cta-btn" href="#contact">Задати питання</a>
            </div>
        </div>
    </section>

    <partial name="_ServicesSection" />
    <partial name="_ContactSection" />
</main>